
  <div class="row">
    <div class="col-sm-6 border">
      <form >
        <div class="col-form-label">
          <h5 class="justify-content-center">REGISTRO DE MENÚ</h5>
        </div>

        <div class="form-group">
          <label for="" class="col-form-label ">Nombre</label>
          <input type="text" class="form-control" value="" #nombre>
        </div>

        <div class="form-group">
          <label for="" class="col-form-label ">Precio</label>
          <input type="text" class="form-control" value="" #precio>
        </div>

        <div class="form-group">
          <label for="" class="col-form-label ">Descripción</label>
          <textarea class="form-control border border-primary" name="name" rows="4" cols="80" #descripcion></textarea>
        </div>

        <div style="float:right">
          <button type="button" class="btn btn-danger">CANCELAR</button>
          <button type="button" class="btn btn-primary" (click)="agregar(nombre.value,precio.value,descripcion.value)">AGREGAR</button>
        </div>

      </form>
    </div>

  </div>


  <!--*************************************++-->
  <div	class="row row-flex" >
    <app-menu *ngFor="let m of listado" [menu]="m"></app-menu>
  </div>

  <!--*************************************++-->
