
      <div class="row">
        <div class="card-menu d-flex flex-column justify-content-between ml-2">
          <img src="https://placeimg.com/380/230/nature" class="card-img-top" alt="menu">
          <div class="card-body">
            <h4 class="card-title" data-toggle="tooltip" data-placement="top" title="Los primeros pedidos cuentan con una porción extra de arroz.">AJI DE GALLINA</h4>
            <h6 class="card-subtitle text-muted">Precio: S/.20.00</h6>
            <p class="card-text">Plato con arroz, crema espesa con pechuga de gallina deshilachada y su papa.</p>
          </div>
          <div class="card-footer" >
              <button class="btn btn-primary btn-pedido" data-toggle="modal" data-target="#modalCard">PEDIR</button>
          </div>
        </div>
      </div>
